<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="enAdopcion.length > 0; else sinPerritos">
      Adopta un <strong>{{nombreRaza}}</strong>
    </ion-title>
    <ng-template #sinPerritos>
      <ion-title>
        ¡Ningún <strong>{{nombreRaza}}</strong> sin hogar!
      </ion-title>
    </ng-template>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/raza', idRaza, 'editar']">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="enAdopcion.length > 0; else sinPerros">
      <ion-toggle (click)="swap()"></ion-toggle>
      <ion-label>
        Mostrar sólo perros en adopción ({{enAdopcion.length}})
      </ion-label>
  </ion-item>
  <ng-template #sinPerros>
    <ion-item>
      <ion-label>
        Puedes ayudar a otros perros seleccionando otra raza.
      </ion-label>
    </ion-item>
  </ng-template>


  <ion-card *ngFor="let perro of display" [routerLink]="['/perro', perro.id]">
    <ion-card-content>
      <ion-img [src]="perro.foto"></ion-img>
    </ion-card-content>
    <ion-item>
      <ion-label *ngIf="perro.adoptado==false; else adoptado">
        {{perro.nombre}}
      </ion-label>
      <ng-template #adoptado>
        <ion-label style="text-decoration:line-through;">
          &nbsp;{{perro.nombre}}&nbsp;
        </ion-label>
      </ng-template>
    </ion-item>
  </ion-card>

  <ion-fab slot="fixed" style="bottom: 1em; right: 1em;">
    <ion-fab-button [routerLink]="['/perro/nuevo', idRaza]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
