ion-label{
    font-weight: bold;
    color: black;
}

input[type=file]::file-upload-button,
input[type=file]::-webkit-file-upload-button{
    display: hidden; /* probar none */
}

p{
    text-align: center;
}
