<ion-header>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filtrar($event.target.value.toLowerCase())" placeholder="Buscar por razas" searchIcon="paw"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let raza of listFiltrada" [routerLink]="['/raza', raza.id]">
        <ion-avatar slot="start">
          <ion-img [src]="raza.imagen"></ion-img>
        </ion-avatar>
        <ion-label>
          {{raza.nombre}}
        </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-fab slot="fixed" style="bottom: 1em; right: 1em;">
  <ion-fab-button [routerLink]="['/raza/nueva']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
