<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
    </ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type="text" (change)="nombre = $event.target.value" value="{{original.nombre}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-textarea name="descripcion" (change)="descripcion = $event.target.value" value="{{original.descripcion}}"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Imagen</ion-label>
    <ion-input type="file" name="imagen" (change)="imagen = $event.target.files[0]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Raza</ion-label>
    <ion-select name="raza" #rz (ionChange)="raza = rz.value" placeholder="{{nombreRaza}}">
      <ion-select-option *ngFor="let raze of listaRazas" value="{{raze.id}}">{{raze.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-button size="small" routerLink="/nuevaRaza">Crear nueva raza</ion-button>

  <p>
    <ion-button (click)="actualizar()" id="butt">ACTUALIZAR PERRITO</ion-button>
  </p>
</ion-content>
