ion-item{
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5em;
}

ion-label{
    text-transform: capitalize;
    animation: efectacoTexto 1s forwards;
}

ion-searchbar{
    max-width: 600px;
    margin: auto;
}

ion-avatar{
    animation: efectacoAvatar .5s forwards;
    width: 2em;
    height: 2em;
    border: white 3px solid;
    background-color: white;
    ion-img{
        background-color: white;
    }
}

@keyframes efectacoTexto {
    0% { color: transparent;
         opacity: 0;
         text-shadow: 0 0 r5px rgba(0,0,0,0.5); }
}

@keyframes efectacoAvatar {
    0%   { transform: scale(0,0); }
    75%  { transform: scale(1.25,1.25); }
    100% { transform: scale(1,1); }
}