<ion-content [fullscreen]="true">

  <div id="container">

    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
    
    <a id="link" href="./razas">
      <div class="ball" tabindex="0" href="./razas"></div>
    </a>

  </div>

</ion-content>

<ion-footer>
  <p>
    Toca en la pelotita para ver el listado de perritos que 
    necesitan un hogar.
    Si conoces a un perrito que necesita un nuevo hogar 
    lo puedes <a href="./agregar">agregar</a> a nuestra lista.
  </p>
</ion-footer>